.nutrition-page {
    z-index: -1;

    position: absolute;
    left: 0.5%;
    top: 0;

    height: 100vh;
    max-height: 100vh;
    
    width: 99%;

    padding-top: 2.85rem;
    padding-bottom: 0.35rem;

    display: grid;
    grid-template-columns: 65% auto; 
    grid-template-rows: 0.525fr; 
    grid-gap: 0.5rem; 

    min-width: var(--min-width);
}

.page-post-section,
.goals-preview-section {
    grid-column: 1; 

    border-radius: 5px;

    width: 100%;
    height: 100%;
}

.page-ai-calculator-section {
    grid-column: 2; 
    grid-row: span 2; 

    border-radius: 5px;

    display: grid; 
    grid-template-rows: auto 1fr;
    padding-bottom: 1%;

    max-height: 100%;
    height: 100%;
}

.ai-calculator-header {
    display: inline-block;
    width: 98%;
    height: auto;

    margin: 1% 0px 0px 1%;
    padding: 0.5% 2% 1% 1rem;

    border-radius: 5px;

    font-size: var(--medium-font);
    background-color: rgb(var(--sidebar-dark-green-rgb));
    color: rgb(var(--white-rgb));
}
.ai-calculator-header strong {
    color: rgb(var(--lemon-green-rgb));
}

.ai-calculator-info {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: auto;
    max-height: 100%;

    margin: 1% 0px 0px 1%;
    padding: 0.5% 3% 2% 2%;

    border-radius: 5px;

    font-size: var(--small-font);
    background-color: rgb(var(--sidebar-dark-green-rgb));
    color: rgb(var(--white-rgb));

    overflow: hidden;
    overflow-y: auto;
}

@media (max-width: 828px) {
    .nutrition-page {
        grid-template-columns: 100%; 
    }

    .page-post-section,
    .goals-preview-section,
    .page-ai-calculator-section {
        grid-column: 1;
        grid-row: span 1;
    }

    .ai-calculator-info {
        max-height: 750px;

        overflow: hidden;
        overflow-y: hidden;
    }
}

input[type='radio'] {
    visibility: hidden;
}
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: rgb(var(--white-rgb));
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid rgb(var(--dark-green-rgb));
        cursor: pointer;

        transition: all 0.5s ease;
    }
    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: rgb(var(--lemon-green-rgb));
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid rgb(var(--dark-green-rgb));
        cursor: pointer;
    }