@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --min-height: 500px !important;
  --min-width: 280px !important;
  min-height: var(--min-height);
  min-width: var(--min-width);
  

  /* Light scheme */
  --light-green-rgb: 190, 217, 50;
  --green-rgb: 116, 204, 82;
  --green-blueish-rgb: 4, 153, 119;

  --dark-green-rgb: 69, 82, 62;
  --sidebar-dark-green-rgb: 115, 126, 109;
  --light-smoke-rgb: 245, 236, 229;
  --dark-smoke-rgb: 176, 172, 162;
  --lemon-green-rgb: 191, 244, 123;
  
  --black-rgb: 1, 1, 1;
  --white-rgb: 255, 255, 255;

  --smaller-font: 12px;
  --small-font: 14px;
  --medium-font: 16px;
  --big-font: 18px;
  --bigger-font: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0.125rem;
}


